<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206558373414-uicl17smmqt18s7h6pds3nae80ed9l1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206558373414-uicl17smmqt18s7h6pds3nae80ed9l1m</string>
	<key>API_KEY</key>
	<string>AIzaSyAfNfwwU629TX4bM6jMSqNYIpLiNzAeZ10</string>
	<key>GCM_SENDER_ID</key>
	<string>206558373414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sherminh.pantrypal</string>
	<key>PROJECT_ID</key>
	<string>pantrypal-snp</string>
	<key>STORAGE_BUCKET</key>
	<string>pantrypal-snp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206558373414:ios:01c5e6277b88e2c1d1a8e7</string>
</dict>
</plist>